nav{
    background-color: brown;
display: block;
padding: 2% 2%;
font-size: x-large;
font-style: normal;
text-decoration: aliceblue;
}
body{
    background-color: rgb(129, 133, 129);
}
h2{
    color: beige;
    text-align: center;
    font-size: x-large;
}
h3{
   margin: 0;
    color: rgb(190, 94, 5);
    text-align: center;
    font-size: x-large;

}

footer{
    padding-block: 50px;
    background-color: darkgrey;
    border-radius: 30%;
}