nav{
    background-color: brown;
display: block;
padding: 2% 2%;
font-size: x-large;
font-style: normal;
text-decoration: aliceblue;
}
body{
    background-color: rgb(129, 133, 129);
}
h1{
    color: rgb(8, 8, 1);
    text-align: center;
    font-size: 5rem ;
}
h2{
    color: rgb(190, 94, 5);
    text-align: center;
    font-size: x-large;
}
.P{ color: rgb(8, 8, 1);
    text-align: center;
    font-size: 2rem ;
}
